* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
.light {
  background-color: white;
  color: #111;
  outline-color: #111;
}
.dark {
  background-color: #111;
  color: #bbb;
  outline-color: #bbb;
}
.theme {
  transition: 0.5s all ease;
}
.container {
  max-width: 1240px;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
}
.dark .custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #bbb 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
.light .custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #111 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}
